IO_LOC  "catodo[6]" 37;

IO_PORT "catodo[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "catodo[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "catodo[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "catodo[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "catodo[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "catodo[5]" 37;
IO_PORT "catodo[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "fila[3]" 55;
IO_PORT "fila[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[2]" 54;
IO_PORT "fila[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[1]" 53;
IO_PORT "fila[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[0]" 51;
IO_PORT "fila[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18;

IO_LOC  "clk" 8;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
