IO_LOC  "columna[3]" 69;
IO_PORT "columna[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[2]" 68;
IO_PORT "columna[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[1]" 57;
IO_PORT "columna[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "columna[0]" 56;
IO_PORT "columna[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_PORT "segmentos[6]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "segmentos[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "segmentos[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "segmentos[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "segmentos[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "segmentos[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_PORT "segmentos[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "fila[3]" 55;
IO_PORT "fila[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[2]" 54;
IO_PORT "fila[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[1]" 53;
IO_PORT "fila[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "fila[0]" 51;
IO_PORT "fila[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "rst" 4;
IO_PORT "rst" IO_TYPE=LVCMOS18;

IO_LOC  "clk" 8;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
